<h1>銀行検索フォーム</h1>

<%= form_tag bankms_path, :method => 'get' do %>
  <p>
    <th>銀行名検索フォーム</th>
    <%= select_tag :search,
        options_for_select(Bankm.find(:all, :order => "bank_cd").map{|bankm| ["#{bankm.bank_j}"]}),
        { prompt: '', class: "chosen-select" } %>
    <%= submit_tag "検索" %>
  </p>
<% end %>

<%= link_to '銀行新規登録', new_bankm_path %>
