<style>
<!--
.ui-autocomplete {
     width: 450px;
     max-height: 400px;
     overflow-y: scroll;
     overflow-x: hidden;
     padding-right: 20px;
}
#jquery-ui-autocomplete label {
     float: left;
     margin-right: 0.5em;
     color: black;
     font-size: 15px;
}
-->
</style>
