// Place all the styles related to the bankms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ui-autocomplete {
     max-height: 100px;
     overflow-y: auto;
     overflow-x: hidden;
     padding-right: 20px;
}
